img {
  width: 1.5rem;
  vertical-align: middle;
}

span {
  margin-left: 1rem;
  vertical-align: middle;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem 2rem;
}

.contact div {
  margin-bottom: 1rem;
}

hr {
  border: 1px solid rgb(193, 193, 193);
  width: 100%;
}

.footer {
  display: flex;
  background-color: var(--navy);
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem 2rem;
}