#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.title {
  font-weight: 800;
  font-size: 8rem;
  margin: 5rem auto 3rem auto;
  line-height: 0.9;
  letter-spacing: -2px;
}

.logo {
  width: 360px;
}

.p-text {
  color: #696969;
}

